Business/bin
Business/obj

DataContractLib/bin
DataContractLib/obj

Modele/bin
Modele/obj

Persistance/bin
Persistance/obj

StubLib/bin
StubLib/obj

Test_Alimentation/bin
Test_Alimentation/obj

Test_Animal/bin
Test_Animal/obj

Test_Classification/bin
Test_Classification/obj

Test_Espece/bin
Test_Espece/obj

Test_Genre/bin
Test_Genre/obj

Test_Image/bin
Test_Image/obj

Test_Particularite/bin
Test_Particularite/obj

Test_Statut/bin
Test_Statut/obj

ZoOm/bin
ZoOm/obj